<extend name="Public/base" />

<block name="body">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<div class="form-item cf" >
	<div class="main-title cf">
		<h2>添加图文分类</h2>
	</div>
	<form action="{:U('doAddcategory')}" method="post" class="form-horizontal" id="form">
			<div class="controls">
				分类标题<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="title" value="">
			</div>
			<div class="controls">
				分类副标题<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="subtitle" value="">
			</div>
		</br>
			<div class="controls">
						<input type="file" id="upload_picture">
						<input type="hidden" name="image" id="icon" value=""/>
						<div class="upload-img-box">
						</div>
					</div>
			<div class="controls">
				排序<input type="text" style="width:300px; margin-left:45px;"class="text input-large" name="status" value="">
			</div>
			<div class="form-item">
			</br></br>
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>	
			<button style="margin-left:30px;"class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		    </div>
		    </form>
		    <script type="text/javascript">
					//上传图片
				    /* 初始化上传插件 */
					$("#upload_picture").uploadify({
				        "height"          : 30,
				        "swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				        "width"           : 120,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				        "onUploadSuccess" : uploadPicture,
				        'onFallback' : function() {
				            alert('未检测到兼容版本的Flash.');
				        }
				    });
					function uploadPicture(file, data){
				    	var data = $.parseJSON(data);
				    	var src = '';
				        if(data.status){
				        	$("#icon").val(data.id);
				        	src = data.url || '__ROOT__' + data.path;
				        	$("#icon").parent().find('.upload-img-box').html(
				        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
				        	);
				        } else {
				        	updateAlert(data.info);
				        	setTimeout(function(){
				                $('#top-alert').find('button').click();
				                $(that).removeClass('disabled').prop('disabled',false);
				            },1500);
				        }
				    }
					</script>

		</div>
</block>
<block name="script">
<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>

