<extend name="Public/base" />

<block name="body">

    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

        <script type="text/javascript" src="__STATIC__/UploadImages.js"></script>

        <div class="main-title cf">

        <h2>

            菜单增加

        </h2>

    </div>

    <!-- 标签页导航 -->

<div class="tab-wrap">

    <ul class="tab-nav nav">

        <li data-tab="tab1" class="current"><a href="javascript:void(0);">基础</a></li>

       </ul>

    <div class="tab-content">

    <!-- 表单 -->

    <form id="form" action="{:U('doMenuAdd')}" method="post" class="form-horizontal">

        <!-- 基础文档模型 -->

        <div id="tab1" class="tab-pane in tab1">

                <div class="form-item cf">

                    <label class="item-label">排序号<span class="check-tips">（序号越小在越前）</span></label>

                    <div class="controls">

                    <input type="text" class="text input-large" name="sort" value="0">

                    </div>

                    </div>

                    <div class="form-item cf">

                    <label class="item-label">一级菜单类目<span class="check-tips">(如果是一级菜单，选择“无”即可）</span></label>

                    <div class="controls">

                            <select name="pid">

                                <option value="0" selected>无</option>

                                <volist name="pid" id="vo">

                                <option value="{$vo.id}">{$vo.name}</option>

                               </volist>

                            </select></div></div>

                    <div class="form-item cf">

                    菜单名

                    <div class="controls">

                    <input type="text" class="text input-large" name="name" value="">

                    </div>

                    </div>

                    <div class="form-item cf">

                    价格

                    <div class="controls">

                    <input type="text" class="text input-large" name="price" value="">

                    </div>

                    </div>
                    <div class="form-item cf">
                    <label class="item-label">状态<span class="check-tips"></span></label>
                    <div class="controls">
                        <label class="radio">
                                    <input type="radio" value="0"  name="status">不启用                                   </label><label class="radio">
                                    <input type="radio" value="1" checked name="status">启用                                  </label>                    
                                </div>
                    </div>


            <div class="form-item cf">

            <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>

            <a class="btn btn-return" href="{:U('menuList')}">返 回</a>

            </div>

        </div>







    </form>

    </div>

</div>

</block>



<block name="script">

<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">

<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>

<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script type="text/javascript">

$('#menutype select').change(function(){

   var type = $(this).val();

   if(type =="view"){

    $('#keyinput input').val('');

    $('#keyinput').css('display','none');

    $('#urlinput').css('display','block');

   }else{

    $('#urlinput input').val('');

    $('#keyinput').css('display','block');

    $('#urlinput').css('display','none');

   }

})

</script>

</block>

