<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<php>
    $title=C('WEB_SITE_TITLE');
</php>
<title>{$title}</title>
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta charset="utf-8">
<link href="__CSS__/cate4_.css" rel="stylesheet" type="text/css">
<link href="__CSS__/iscroll.css" rel="stylesheet" type="text/css">
<style>
.banner img {width: 100%;}
 
 
</style>
<script src="__JS__/iscroll.js" type="text/javascript"></script>
<script type="text/javascript">
var myScroll;

function loaded() {
myScroll = new iScroll('wrapper', {
snap: true,
momentum: false,
hScrollbar: false,
onScrollEnd: function () {
document.querySelector('#indicator > li.active').className = '';
document.querySelector('#indicator > li:nth-child(' + (this.currPageX+1) + ')').className = 'active';
}
 });
 
}

document.addEventListener('DOMContentLoaded', loaded, false);
</script>
 
</head>
<body id="cate4">

<div class="banner"><img src="{$img.image|get_cover='path'}"></div>

 
<div id="insert1"></div>
<div id="todayList">
<ul class="todayList">
<volist name="data" id="vo">
<li class="only4">
<a href="{:U('category',array('category'=>$vo['id']))}">
<div class="img"><img src="{$vo.image|get_cover='path'}"></div>
<h2>{$vo.title}</h2>
<p class="onlyheight">{$vo.subtitle}</p>
<span class="icon">&nbsp;</span>
<div class="clr"></div>
</a>
</li>
</volist>
</ul>
</div>
<script>


var count = document.getElementById("thelist").getElementsByTagName("img").length;  


for(i=0;i<count;i++){
 document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";

}

document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";


 setInterval(function(){
myScroll.scrollToPage('next', 0,400,count);
},3500 );

window.onresize = function(){ 
for(i=0;i<count;i++){
document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";

}

 document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
} 

</script>
 <script src="__JS__/jweixin-1.0.0.js" type="text/javascript"></script>
<script>
var appIdstr='wx2cfca065a7daa7d7';
var timestampstr =1458978043;
var nonceStrstr='2mboXpkDrY7asHt0';
var signaturestr='e1d95f62d93da6a29d1653a4a8544d88ef72349d';
</script>
<script src="__JS__/newfxjs.js" type="text/javascript"></script> 
</body></html>